# https://docs.docker.com/develop/develop-images/dockerfile_best-practices/
.git
.gitignore
.env
.env.*
!.env.example
.venv
venv
__pycache__
*.py[cod]
*$py.class
.cursor
terminals
*.md
htmlcov
.coverage
.pytest_cache
.mypy_cache
db.sqlite3
staticfiles
